.sidebarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    width: 15%;
    height: 100vh;
    gap: 2rem;
}

.sidebarOptions{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding: 0.5rem;
    gap: 1.5rem;
    color: white;
    height: 4rem;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.sidebarOptions:hover{
    background-color: rgb(255, 255, 255, 0.2);
}

.icons {
    width: 2rem;
    height: 2rem;
}